


img.principio{
      display: block;
      width: 50%;
      float: right;
      margin-right: 254px;
}

.small-link {
      padding: 30px;
      width: 10%;
      margin: 10px;
}

p{
  color:purple;
  font-weight: bold;
}
#popo {
  background-color: yellow;
  font-style: italic;
}
