
img.principio{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;}
    }
img.small-link {
  padding: 30px;
width: 100px
px
;
margin: 50px;
    }

p{
  color:purple;
  font-weight: bold;
}
#popo {
  background-color: yellow;
  font-style: italic;
}
