#output {
  width: 500px;
  height: 500px;
  background-color: pink;
}

h1.mamalones {
    font-family: fantasy;
    display: block;
    text-align: center;
    padding: 10px;
    color: purple;
    background-color: black;
    }

h2.mamones {
    font-family: fantasy;
    text-align: center;
    padding: 10px;
    background-color: bisque;
  }

p.rellenos {
    color: #000000;
    text-align: justify;
    font-weight: bold;
    padding: 10px;
    font-family: fantasy;
    background-color: darksalmon;
  }

body {
  ackground-image: url("../img/breaddog.jpg");
  margin-left: 88px;
  margin-right: 95px;
}
